{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "plugins": [
    "@typescript-eslint",
  ],
  "extends": ["airbnb-typescript", "airbnb/hooks"],
  "env": {
    "browser": true,
  },
  "rules": {
    "no-mixed-operators": ["error", {
      "allowSamePrecedence": true
    }],
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
  }
}
