html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wave-canvas {
  height: 100%;
  position: relative;
}

.player {
  position: relative;
  width: 1200px;
  height: 160px;
  margin: 0 auto;
  display: block;
}

.dragger {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #666;
  cursor: col-resize;

  &::after {
    content: '';
    position: absolute;
    left: -2px;
    right: -2px;
    top: 0;
    bottom: 0;
  }

  &:hover {
    background: #333;
  }
}

.selection {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #cfe;
}

.file {
  display: block;
  width: 200px;
  border: 1px dashed #eee;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  color: #999;

  input {
    visibility: hidden;
    position: absolute;
  }
}
